body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-image {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    color: white;
}

.font-size {
    font-size: 50px;
    color: white;
}

.donation {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, red);
    font-weight: 700;
    border-radius: 5px;
}

.donation-section {
    text-align: center;
    position: absolute;
    right: 25%;
    left: 25%;
    color: black;

}

#bold {
    font-size: 40px;
}

#try-color {
    color: rgb(69, 68, 68);
}

.flex-continer {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#enter-amount {
    margin: 20px;
    padding: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: gray;
}

#select-amount {
    margin: 20px;
    padding: 20px;
    font-weight: 700;
    background-color: tomato;
    border-radius: 5px;
    margin-block-end: 2%;
}

.amount-bottom {
    position: relative;
    top: 200px;
    left: 0%;
}

.kisu-akta {
    position: relative;
    text-align: center;
    top: 250px;
}

.aro-kisu-akta {
    position: relative;
    text-align: center;
    top: 280px;
}

.porer-ta {
    position: relative;
    text-align: center;
    top: 300px;
}