body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-image {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    color: white;
}

.font-size {
    font-size: 50px;
    color: white;
}

.donation {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, red);
    font-weight: 700;
    border-radius: 5px;
}

.donation-section {
    text-align: center;
    position: absolute;
    right: 25%;
    left: 25%;
    color: black;

}

#bold {
    font-size: 40px;
}

#try-color {
    color: rgb(69, 68, 68);
}

.flex-continer {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#enter-amount {
    margin: 20px;
    padding: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(213, 211, 211);
}

#select-amount {
    margin: 20px;
    padding: 20px;
    font-weight: 700;
    background-color: rgb(254, 161, 145);
    border-radius: 5px;
    border-color: solid red, black;
}

.amount-bottom {
    position: relative;
    top: 200px;
    left: 0%;
}

.other-amount {
    position: relative;
    text-align: center;
    top: 220px;
}

#line {
    width: 40%;
}

.amount-select-button {
    position: relative;
    text-align: center;
    top: 230px;
}

.donation-plan {
    position: relative;
    text-align: center;
    top: 260px;
}

#paragraph-line {
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
}

.box {
    position: absolute;
    text-align: center;
    left: 15%;
    right: 15%;
    top: 180px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#left-box {
    float: left;
    width: 263px;
    height: 300px;
    background-color: rgb(186, 237, 243);
}

#middle-box {
    float: left;
    width: 263px;
    height: 300px;
    background-color: rgb(244, 207, 207);
    margin-left: 20px
}

#right-box {
    float: right;
    width: 263px;
    height: 300px;
    background-color: rgb(246, 246, 191);
    margin-left: 20px
}

.continar {
    position: relative;
    top: 500px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}

.continar img {
    width: 100%;
    height: 120%;
}

.about {
    text-align: center;

}

#font {
    font-size: 40px;
}

.contribute {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, red);
    font-weight: 700;
    border-radius: 5px;
}

.continar-two {
    position: relative;
    top: 700px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.continar-third {
    position: relative;
    top: 900px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.continar-forth {
    position: relative;
    top: 900px;
    margin-left: 5%;
    margin-right: 5%;
}

#third {
    font-size: 40px;
}

#forth {
    font-size: 50px;
}

#updates {
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.contract {
    position: relative;
    top: 900px;
    background-color: bisque;
    height: 150px;
    width: 700px;
    margin-left: 20%;
}

#email {
    margin-top: 50px;
    padding: 5px;
    width: 300px;

}

#subscribe {
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    padding: 5px;
}

.footer {
    position: relative;
    top: 1000px;
    background-color: rgb(7, 7, 50);
    color: red;
    height: 130px;
    font-style: italic;

}

#footer {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}

#footer-two {
    position: absolute;
    text-align: center;
    top: 65px;
    width: 100%;
}